# String in LOOP

In [1]:
name=["abhi","aman","riya","dev"]
for k in name:
    print(k)

abhi
aman
riya
dev

In [ ]:
#print those name starts with a
#likewise in second code we use [startswith()] 
#and if we want from and use [endswith()]

In [5]:
name=["abhi","aman","riya","dev","aastha","pankaj"]
for k in name:
    if k[0]=="a":
        print(k)

abhi
aman
aastha

In [7]:
name=["abhi","aman","riya","dev","aastha","pankaj"]
for h in name:
    if h.startswith("a"):
        print(h)

abhi
aman
aastha

In [ ]:
#print those name where letter is more than 4

In [9]:
name=["abhi","aman","riya","dev","aastha","pankaj"]
for h in name:
    if len(h)>4:
        print(h)

aastha
pankaj

In [ ]:
#print the starting 4 letters of the string

In [12]:
name=["abhi","aman","riya","dev","aastha","pankaj"]
for h in name:
    print(h[0:4])

abhi
aman
riya
dev
aast
pank

In [ ]:
#print the last 4 letters of the string

In [18]:
name=["abhi","aman","riya","dev","aastha","pankaj"]
for h in name:
    print(h[-5:])

abhi
aman
riya
dev
astha
ankaj

In [ ]:
#print the palindrome words from the string

In [24]:
name=["abhi","aman","riya","dev","aastha","pankaj","eye","saas"]
for h in name:
    if h[::-1]==h:
        print(h)

eye
saas

In [26]:
s="hello how are you i am fine"
s.split()

['hello', 'how', 'are', 'you', 'i', 'am', 'fine']

In [ ]:
#print the split words from the string

In [28]:
s="hello hpow are you i am fine"
for i in s.split():
    print(i)

hello
hpow
are
you
i
am
fine

In [30]:
name=["a","b","c","d"]
surname=["1","2","3","4"]
for i in name:
    for j in surname:
        print(i,j)

a 1
a 2
a 3
a 4
b 1
b 2
b 3
b 4
c 1
c 2
c 3
c 4
d 1
d 2
d 3
d 4

# Nested Loop

In [ ]:
range("start","stop","step")

In [32]:
for n in range(0,10):
    print(n)

0
1
2
3
4
5
6
7
8
9

In [34]:
for n in range(1,5):
    for j in name:
        print("hello how are you",n)

hello how are you 1
hello how are you 1
hello how are you 1
hello how are you 1
hello how are you 2
hello how are you 2
hello how are you 2
hello how are you 2
hello how are you 3
hello how are you 3
hello how are you 3
hello how are you 3
hello how are you 4
hello how are you 4
hello how are you 4
hello how are you 4

In [ ]:
#print even numbers between 10 to 30

In [37]:
for j in range(10,30):
    if j%2==0:
        print(j)

10
12
14
16
18
20
22
24
26
28

In [ ]:
#print those numbers b/w 10 to 100 where 1st digit is 5

In [41]:
for i in range(10,100):
    if i%10==5:
        print(i)

15
25
35
45
55
65
75
85
95

In [ ]:
#create a table of 2
#if we want to reverse the use[10,1,-1]

In [53]:
n=int(input())
for i in range(1,11):
    print("{} x {}= {}".format(n,i,i*n))

 2

2 x 1= 2
2 x 2= 4
2 x 3= 6
2 x 4= 8
2 x 5= 10
2 x 6= 12
2 x 7= 14
2 x 8= 16
2 x 9= 18
2 x 10= 20

In [ ]:
#star pattern

In [59]:
for i in range(1,6):
    print(i*" * ")

 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *

In [61]:
for i in range(6,0,-1):
    print(i*" * ")

 *  *  *  *  *  *
 *  *  *  *  *
 *  *  *  *
 *  *  *
 *  *
 *

In [ ]:
#now create the mirror image of above pattern

In [67]:
for i in range(1,6):
    for j in range(1,6):
        if j>=6-i:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

        *
      * *
    * * *
  * * * *
* * * * *

In [ ]:
#upside down

In [69]:
for i in range(1,6):
    for j in range(1,6):
        if j>=i:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

* * * * *
  * * * *
    * * *
      * *
        *